* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}

.full_container {
    max-width: 90%;
    margin: 0 auto;
}

/*/////////////////////////////////HEADER////////////////////////////////////////*/

header {
    background-color: #33383b88;
    width: 100vw;
    display: flex;
    position: absolute;
    height: 10vh;
    padding: 1rem 0;




}

.header-nav {
    display: flex;
    display: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

}

nav {
    width: 50%;
    padding-top: 2%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    overflow: hidden;

}

.logo-left {
    width: 50%;
}

.logo-left img {
    width: 30%;
    margin: 15px;
}



header nav ul {
    list-style: none;
    text-decoration: none;

}

header nav li {
    display: inline-block;

}

header nav li a {
    text-decoration: none;
    color: seashell;
    align-items: center;
    display: block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    border-bottom: 3px solid transparent;

}

header nav li a:hover {
    border-bottom: 1px solid rgb(175, 174, 172);
    transition: 0.6s;
    text-decoration: none;
    color: seashell;

}

#Currency {
    width: 70%;
    font-size: small;
}

.modal-btn {
    text-decoration: none;
    color: seashell;
    align-items: center;
    display: block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    border-bottom: 3px solid transparent;
    background: none;
    border: 0;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    /* for button */
    -webkit-appearance: button;
    /* for input */
    -moz-user-select: none;
    -ms-user-select: none;
}

.modal-btn:hover {
    border-bottom: 1px solid rgb(175, 174, 172);
    transition: 0.6s;
    text-decoration: none;
    color: seashell;

}

#InputEmail {
    width: 90%;
}

#InputPassword{
    width: 90%;
}
#InputEmail1 {
    width: 90%;
}

#InputPassword1{
    width: 90%;
}
@media (max-width: 800px) {


    header {
        height: 20vh;
        position: absolute;

    }

    .logo-left img {
        width: 50%;
        padding-top: 15px;
        margin-left: 25%;
        margin-right: 25%;
        max-height: 80.27px;
        max-width: 222.25px;

    }

    .logo-left {
        width: 85%;
        align-items: center;
    }

    .header-nav {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    }

    nav {
        width: 80%;
        padding-top: 2%;
        justify-content: space-between;
        align-items: center;

    }



}



/*/////////////////////////////////MAIN MENU////////////////////////////////////////*/

.background {
    background-image: url(http://wind-inovasi.com/uploads/1/2/7/5/127541778/s632071759683992811_p1_i1_w2560.jpeg);
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;

}

.contenedor-principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-principal {
    width: 75%;

}

.conteiner-menu {
    width: 70vw;
    background-color: rgba(175, 174, 172, 0.671);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.conteiner-menu .title {
    padding-bottom: 15px;

}

/*/////////////////////////////////FORM////////////////////////////////////////*/

form {
    padding: 5px;
    width: 100%;
}

.form-row {
    width: 100%;
    padding-bottom: 5px;
    justify-content: space-between;
}

.col {
    padding: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.col input {
    width: 90%;
}

#second-row {
    width: 100%;
    justify-content: space-between;
}

#second-row .col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quantity {
    width: 25%;
}

#second-row label {
    width: 50%;

}

#submit {
    width: 80%;
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
}

#check {
    align-self: center;

}

#check .form-check {
    width: 100%;

}

#check input {
    width: 10%;

}

#check label {
    width: 90%;

}



@media (max-width: 1000px) {

    form {
        flex-direction: row;
        display: flex;
    }

    .form-row {
        flex-direction: column;
    }

    .col {
        padding: 5px;
        margin-right: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 80%;

    }

}

@media (max-width: 800px) {

    form {
        flex-direction: column;
        display: flex;
    }

    .form-row {
        flex-direction: column;
        align-items: center;
    }

    .conteiner-menu {
        margin-top: 20vh;

    }

    .conteiner-menu .title {
        padding-bottom: 15px;
        text-align: center;

    }

}

@media (max-width: 500px) {

    .conteiner-menu .title h1 {
        font-size: medium;

    }

    .conteiner-menu .title h2 {
        font-size: medium;

    }

}

/*/////////////////////////////////CARDS////////////////////////////////////////*/

.cards {
    padding: 30px;

}

.card:hover {
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12);
   background-color: rgba(65, 188, 225, 0.2);
   size: 1.5;
   transition: 0.2s linear;
   
}

.card-deck {
    padding-bottom: 30px;
}

.card img {
    max-height: 250px;
    object-fit: cover;
    object-position: center;
    
}

.card img:hover {
       scale: 1.5;
}
.card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*///////////////////////////////// FOOTER///////////////////////////////////////////*/

.footer-distributed {
    background: #444;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    overflow: hidden;
}

section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left {
    float: left;
}

.footer-left img {
    width: 50%;
    height: auto;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Roboto', cursive;
    margin: 0 0 10px;
}

.footer-distributed h3 span {
    color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons {
    margin-top: 40px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right {
    float: right;
}

.footer-distributed .footer-right p {
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
}

/* The contact form */

.footer-distributed form {
    display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;

    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;

    width: 100%;
    padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
    color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color: #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
    color: #5c666b;
}


.footer-distributed form input {
    height: 55px;
    margin-bottom: 5px;
}

.footer-distributed form textarea {
    height: 100px;
    margin-bottom: 20px;
    
}

.footer-distributed form button {
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 0;
    font-weight: bold;
    width: 30%;
    float: right;
    
    
}

/* ////////////////////////////////////RESPONSIVE FOOTER////////////////////////////////////// */

@media (max-width: 1000px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-left img {
        width: 30%;
        height: auto;
    }

    .footer-distributed form input,
    .footer-distributed form textarea {
        width: 250px;
    }

    .footer-distributed form button {
        padding: 10px 35px;
    }

}

@media (max-width: 800px) {

    .footer-distributed {
        padding: 30px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left {
        margin-bottom: 40px;
    }

    .footer-distributed form {
        margin-top: 30px;
    }

    .footer-distributed form {
        display: block;
    }

    .footer-distributed form button {
        float: none;
    }

    .footer-left img {
        width: 80%;
        height: auto;

    }
}

@media (max-width: 500px) {

    .footer-left {
        justify-content: center;
        justify-items: center;
    }

    .footer-left img {
        margin: 0 auto;
    }

    .footer-links {
        justify-content: space-around;
        color: salmon;
    }

    .footer-icons {
        margin: 0 auto;
    }
}